.slide {
    color: white;
    height: 90vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.slide1 {
    background-image: url(https://i.postimg.cc/fbHQ0rJR/aa60115c-bdfc-479f-88ba-5cb0f15a5af8.jpg); 
}

.slide2 {
    background-image: url(https://i.postimg.cc/m2PzcYqR/sundarbans-bangladesh-16x9.jpg); 
}

.slide3 {
    background-image: url(https://i.postimg.cc/vmy560Ck/43-facts-about-malaysia-1688124270.jpg);
}